@media only screen and (max-width: 1199px) {
    .headertop_part .weeklydate {
        width: 45%;
    }
    .icons {
        width: 14%;
    }
}

@media only screen and (max-width: 991px) {
.mid-img>img {
    width: 100%;
    height: auto;
}
.mid-img, .details-right-col{display: none;}
header .headerfull_part .headertop_part {
    background: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    height: 65px;
}
header .headerfull_part .headertop_part .logo img {
    position: relative;
    display: table;
    margin: 0 auto;
    height: 105px;
    transition: height 700ms ease-out 0.3s;
}
header .headerfull_part .headertop_part.header_detailspage {
    background: #FCA128 !important;
    flex-direction: row;
}
header .headerfull_part .headertop_part.header_detailspage div#weekdaymenu {
    display: none;
}
.headertop_part .weeklydate {
    width: 100%;
    background: linear-gradient(90deg, rgba(250,240,50,1) 0%, rgba(252,161,40,1) 100%);
    padding: 10px 0;
}
header .headerfull_part .headertop_part .icons {
    display: none;
}
header .headerfull_part::before{background: none;}
.weeksday_all .item a{padding: 10px;}
header .headerfull_part .headertop_part.sticky_header{
    background: url(../images/hometop_bg.png) 0 0 repeat;
    background-color: #191929;
    z-index: 999;
    transition: auto;
}
.headertop_part .logo {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    transition: height 700ms ease 0s;
}
header .headerfull_part .headertop_part.sticky_header .logo img{
    transition: height 700ms cubic-bezier(0, 0, 0.2, 1) 0s;
    height: 65px;
}
.player-content .control-div{
    flex-wrap: wrap;
}
.player-content .control-div .button-sec {
    width: 100%;
}
.player-content .control-div .count-button {
    justify-content: flex-start;
}
}

@media only screen and (max-width: 820px) {
    .body-row {
        gap: 40px;
    }

    .card-content {
        left: 15px;
        bottom: 14px;
    }

    .card-img>img {
        opacity: 0.7;
    }

    .now-box>h5 {
        font-size: 14px;
    }

    .now-box>i {
        font-size: 11px;
    }

    .card-content>h3 {
        font-size: 22px;
        margin-top: 5px;
    }

    .card-content>p {
        font-size: 15px;
        margin: 7px 0;
    }

    .join-button {
        /* width: 56%; */
    }

    .join-button>p {
        font-size: 16px;
    }

    .join-button>i {
        font-size: 18px;
    }

    .share-btn {
        width: 32%;
    }

    .count-button>p {
        font-size: 13px;
    }

    .right-img {
        display: none;
    }

    .right-dash {
        height: 133%;
        transform: translateY(-12%);
    }

    .vote-div>* {
        width: 66%;
    }

    .day-list {
        align-items: center;
        justify-content: none;
    }
    .logininner >div {
        margin-bottom: 15px;
    }
    .polldata_table {
        width: 80%;
    }
    .ad-img.homehead_addimg {
        display: none;
    }
}







@media only screen and (max-width: 480px) {
/*
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    
    .row>*{
        padding-left: 0;
        padding-right: 0;
    }
*/
/*
    .container-fluid{
        padding-left: 0;
        padding-right: 0 ;
    }
*/
.card-con .card-img {
    height: auto;
    padding-bottom: 0;
}
.join-button.show-episode.homelive_epison a {
    justify-content: center;
}
.whenview_icon.joinbutton_details_whenviewico {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.whenview_icon.joinbutton_details_whenviewico .button-sec{
    flex-direction: column;
    align-items: center;
}
    .card-con{height: auto;}
    header>.container-fluid {
        background-color: transparent;
    }
    .whenview_icon {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .whenview_icon >span {
        width: auto;
        margin-bottom: 5px;
    }
    .icon-box>i {
        color: #fff;
    }

    .ad-img>img {
        display: none;
    }

    .day {
        width: auto;
    }

    .day-list>li a {
        font-size: 12px;
    }

/*
    .body-area {
        padding-left: 0;
        padding-right: 0;
    }
*/

    .card-row {
        margin-top: 30px;
        gap: 20px;
    }

    .card-con,
    .card-con-red {
/*        margin: 10px;*/
    }

    .dash {
        margin-top: 22px;
        width: 91%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobi-1 {
        margin-bottom: 7px !important;
    }
    .homepage_casting .col-md-6:first-child{
        padding-top: 60px;
    }
    .card-img>img {
        opacity: 1;
        border-radius: 0;
    }

    .card-content {
		bottom: 0;
		left: 0;
		width: auto;
		position: relative;
		padding: 10px;
	}

    .now-box>h5 {
        font-size: 14px;
    }
    /* .card-row>.col-md-6{
        padding-left: 0;
        padding-right: 0;
    } */
    .card-content>h3 {
        font-size: 18px;
        margin-top: 8px;
    }

    .card-content>p {
        font-size: 15px;
        margin: 8px 0;
    }

    .join-button {
        width: 100%;
    }

    .join-button>p {
        font-size: 16px;
    }

    .join-button>i {
        font-size: 18px;
    }

    .share-btn {
        width: 50%;
    }

    .share-btn>i {
        font-size: 16px;
    }

    .count-button {
        gap: 5px;
        justify-content: unset;
    }

    .count-button>i {
        font-size: 16px;
    }

    .count-button>p {
        font-size: 14px;
    }

    .bottom-img,
    .right-img {
        display: none;
    }

    .right-dash {
        display: none;
    }

    .vote-div>* {
        width: 70%;
    }

    .vote-col>h3 {
        font-size: 18px;
        margin-top: 10px;
    }

    .hd-dash {
        display: block;
        width: 91%;
    }

    .right-col>h3 {
        font-size: 25px;
        margin-top: 16px;
    }

    .list-box {
        gap: 0;
    }

/*
    .list-content>button {
        padding: 7px 17px;
        font-size: 15px;
    }
*/

    .right-col {
        padding: 0 25px;
    }

    .mid-img{
        display: none;
    }
    .player{
        border-radius: 0;
    }
	.button-sec {
		justify-content: center;
		flex-wrap: wrap;
		height: 100%;
	}
	.share-btn{
		height: 38px;
		margin-top: 10px;
	}
	.icon-box a {
		color: #fff;
	}
	.list-box .list-content {
		padding-right: 30px;
	}
    .control-div .count-button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .control-div .share-btn {
        width: 100%;
    }
}

/* @media only screen and (min-width: 1000px) {
    .day-list{
        display: flex !important;
        justify-content: space-evenly;
    }
} */